$orange: #feba00;
$grey: #e0e0e2;
@mixin f400 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
@mixin f500 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}
@mixin f700 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
