@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";

// start header
.header {
  &__inner {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    &-image {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      margin-right: 5px;
    }
    &-name {
      color: $orange;
      font-size: 24px;
      @include f500;
      letter-spacing: 3px;
    }
  }
  &__menu {
    margin-top: 3px;
    &-list {
      display: flex;
      align-items: center;
      font-size: 14px;
      @include f500;
    }
    &-link {
      a {
        color: #000;
        text-transform: uppercase;
      }
      .active {
        color: $orange;
      }
      & + & {
        margin-left: 35px;
      }
    }
  }
  .drop-down {
    margin-right: 5px;
    &::after {
      content: "";
    }
  }
  &__btn {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto;
    color: #000;
    margin-top: 3px;
    @include f700;
    border: 1px solid $grey;
    padding: 20px 40px;
    transition: all 0.5s;
    &:hover {
      background-color: $orange;
      color: #fff;
      border: 1px solid $orange;
    }
  }
}
// end header

// start footer
.footer {
  font-size: 16px;
  .footer__main {
    background-color: #f8f8f8;
    .footer__inner {
      display: flex;
      justify-content: space-between;
      padding: 120px 0;
    }
  }
  &__col {
    width: 300px;
    &-title {
      margin-bottom: 22px;
      font-size: 20px;
    }
  }
  .col__about {
    &-paragraph {
      color: #888;
      line-height: 24px;
    }
  }
  .col__navigation {
    &-links {
      li + li {
        margin-top: 20px;
      }
      a {
        color: $orange;
        transition: all 0.3s;
        &:hover {
          color: $orange-dark;
        }
      }
    }
  }
  .col__comments {
    .col__comments-item + .col__comments-item {
      margin-top: 25px;
    }
    &-name {
      color: #888;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 10px;
    }
    &-comment {
      color: #000;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
  }
  .col__contact {
    color: #888;
    span {
      @include f500;
      margin-right: 5px;
    }
    .col__contact-row + .col__contact-row {
      margin-top: 25px;
    }
    &-phone {
      color: #888;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
    &-mail {
      color: $orange;
      transition: all 0.3s;
      &:hover {
        color: $orange-dark;
      }
    }
  }
}
.footer__copy {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &-text {
    color: #888;
  }
  &-name {
    color: $orange;
    transition: ALL 0.3s;
    &:hover {
      color: $orange-dark;
    }
  }
  &-social {
    display: flex;
    li + li {
      margin-left: 20px;
    }
    a {
      color: $orange;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}
// end footer

// media
@import "_media.scss";
