@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";

// start header
.header {
  &__inner {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    &-image {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      margin-right: 5px;
    }
    &-name {
      color: $orange;
      font-size: 24px;
      @include f500;
      letter-spacing: 3px;
    }
  }
  &__menu {
    margin-top: 3px;
    &-list {
      display: flex;
      align-items: center;
      font-size: 14px;
      @include f500;
    }
    &-link {
      a {
        color: #000;
        text-transform: uppercase;
      }
      .active {
        color: $orange;
      }
      & + & {
        margin-left: 35px;
      }
    }
  }
  .drop-down {
    margin-right: 5px;
    &::after {
      content: "";
    }
  }
  &__btn {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto;
    color: #000;
    margin-top: 3px;
    @include f700;
    border: 1px solid $grey;
    padding: 20px 40px;
    transition: all 0.5s;
    &:hover {
      background-color: $orange;
      color: #fff;
      border: 1px solid $orange;
    }
  }
}
// end header

// start slider
.slider {
  &__inner {
    &:hover {
      .slick-prev.slick-arrow {
        left: 0px;
      }
      .slick-next.slick-arrow {
        right: 0px;
      }
    }
  }
  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .slider__item.slider__item-video {
    width: 100%;
    height: 1000px;
    video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .slider__item.slider__item-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.5);
  }
  .slick-arrow {
    position: absolute;
    z-index: 10;
    top: 500px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #d7ccc7;
    padding: 5px 15px 0;
    transition: all 0.3s;
    &:hover {
      color: $orange;
    }
  }
  .slick-prev.slick-arrow {
    left: -100px;
    border-radius: 0 3px 3px 0;
  }
  .slick-next.slick-arrow {
    right: -100px;
    border-radius: 3px 0 0 3px;
  }
  .item__buttons {
    button {
      padding: 20px 40px;
      font-size: 15px;
      @include f500;
      text-transform: uppercase;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
      & + button {
        margin-left: 30px;
      }
    }
  }
  .slider__item-first {
    .slider__item-text {
      color: #fff;
      text-align: center;
      margin-top: 250px;
      margin-bottom: 50px;
      padding: 50px 0;
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
    .slider__item-title {
      font-size: 70px;
    }
    .slider__item-paragraph {
      font-size: 30px;
    }
    .item__buttons {
      text-align: center;
      &-watch {
        background-color: $orange;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
      &-buy {
        background-color: #fff;
        color: $orange;
        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }
    }
  }
  .slider__item-second {
    .slider__item-title {
      font-size: 60px;
      color: #fff;
      width: 850px;
      line-height: 75px;
      padding: 50px;
      margin-bottom: 30px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      span {
        @include f400;
      }
    }
    .item__buttons {
      &-buy {
        background-color: $orange;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
    }
  }
  .slider__item-video {
    .slider__item-content {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      width: 1370px;
    }
    .slider__item-text {
      background-color: rgba($color: #000000, $alpha: 0.3);
      text-align: center;
      color: #fff;
      padding: 50px;
      margin-bottom: 50px;
      width: 100%;
    }
    .slider__item-title {
      font-size: 50px;
      margin-bottom: 10px;
    }
    .slider__item-paragraph {
      font-size: 25px;
      line-height: 35px;
    }
    .item__buttons {
      text-align: center;
      &-watch {
        background-color: #fff;
        color: $orange;
        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }
      &-buy {
        background-color: $orange;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
    }
  }
}
// end slider

// start subsequence
.subsequence {
  &__inner {
    padding: 200px 0;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    max-width: 900px;
    margin: 0 auto;
  }
}
.title {
  font-size: 40px;
  @include f500;
  line-height: 55px;
}
.text {
  color: #888;
  line-height: 30px;
}
// end subsequence

// start design
.design {
  &__inner {
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    width: 570px;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__info {
    max-width: 600px;
    &-title {
      margin-bottom: 25px;
    }
  }
}
// end design

// start footer
.footer {
  font-size: 16px;
  .footer__main {
    background-color: #f8f8f8;
    .footer__inner {
      display: flex;
      justify-content: space-between;
      padding: 120px 0;
    }
  }
  &__col {
    width: 300px;
    &-title {
      margin-bottom: 22px;
      font-size: 20px;
    }
  }
  .col__about {
    &-paragraph {
      color: #888;
      line-height: 24px;
    }
  }
  .col__navigation {
    &-links {
      li + li {
        margin-top: 20px;
      }
      a {
        color: $orange;
        transition: all 0.3s;
        &:hover {
          color: $orange-dark;
        }
      }
    }
  }
  .col__comments {
    .col__comments-item + .col__comments-item {
      margin-top: 25px;
    }
    &-name {
      color: #888;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 10px;
    }
    &-comment {
      color: #000;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
  }
  .col__contact {
    color: #888;
    span {
      @include f500;
      margin-right: 5px;
    }
    .col__contact-row + .col__contact-row {
      margin-top: 25px;
    }
    &-phone {
      color: #888;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
    &-mail {
      color: $orange;
      transition: all 0.3s;
      &:hover {
        color: $orange-dark;
      }
    }
  }
}
.footer__copy {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &-text {
    color: #888;
  }
  &-name {
    color: $orange;
    transition: ALL 0.3s;
    &:hover {
      color: $orange-dark;
    }
  }
  &-social {
    display: flex;
    li + li {
      margin-left: 20px;
    }
    a {
      color: $orange;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}
// end footer

// media
@import "_media.scss";
