@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";

// start header
.header {
  &__inner {
    display: flex;
    align-items: center;
    padding: 12px 0;
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    &-image {
      width: 50px;
      height: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: repeat;
      margin-right: 5px;
    }
    &-name {
      color: $orange;
      font-size: 24px;
      @include f500;
      letter-spacing: 3px;
    }
  }
  &__menu {
    margin-top: 3px;
    &-list {
      display: flex;
      align-items: center;
      font-size: 14px;
      @include f500;
    }
    &-link {
      a {
        color: #000;
        text-transform: uppercase;
      }
      .active {
        color: $orange;
      }
      & + & {
        margin-left: 35px;
      }
    }
  }
  .drop-down {
    margin-right: 5px;
    &::after {
      content: "";
    }
  }
  &__btn {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto;
    color: #000;
    margin-top: 3px;
    @include f700;
    border: 1px solid $grey;
    padding: 20px 40px;
    transition: all 0.5s;
    &:hover {
      background-color: $orange;
      color: #fff;
      border: 1px solid $orange;
    }
  }
}
// end header

// start slider
.slider {
  &__inner {
    &:hover {
      .slick-prev.slick-arrow {
        left: 0px;
      }
      .slick-next.slick-arrow {
        right: 0px;
      }
    }
  }
  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .slider__item.slider__item-video {
    width: 100%;
    height: 1000px;
    video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .slider__item.slider__item-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($color: #000, $alpha: 0.5);
  }
  .slick-arrow {
    position: absolute;
    z-index: 10;
    top: 500px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #d7ccc7;
    padding: 5px 15px 0;
    transition: all 0.3s;
    &:hover {
      color: $orange;
    }
  }
  .slick-prev.slick-arrow {
    left: -100px;
    border-radius: 0 3px 3px 0;
  }
  .slick-next.slick-arrow {
    right: -100px;
    border-radius: 3px 0 0 3px;
  }
  .item__buttons {
    button {
      padding: 20px 40px;
      font-size: 15px;
      @include f500;
      text-transform: uppercase;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
      & + button {
        margin-left: 30px;
      }
    }
  }
  .slider__item-first {
    .slider__item-text {
      color: #fff;
      text-align: center;
      margin-top: 250px;
      margin-bottom: 50px;
      padding: 50px 0;
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
    .slider__item-title {
      font-size: 70px;
    }
    .slider__item-paragraph {
      font-size: 30px;
    }
    .item__buttons {
      text-align: center;
      &-watch {
        background-color: $orange;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
      &-buy {
        background-color: #fff;
        color: $orange;
        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }
    }
  }
  .slider__item-second {
    .slider__item-title {
      font-size: 60px;
      color: #fff;
      width: 850px;
      line-height: 75px;
      padding: 50px;
      margin-bottom: 30px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      span {
        @include f400;
      }
    }
    .item__buttons {
      &-buy {
        background-color: $orange;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
    }
  }
  .slider__item-video {
    .slider__item-content {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translateX(-50%);
      width: 1370px;
    }
    .slider__item-text {
      background-color: rgba($color: #000000, $alpha: 0.3);
      text-align: center;
      color: #fff;
      padding: 50px;
      margin-bottom: 50px;
      width: 100%;
    }
    .slider__item-title {
      font-size: 50px;
      margin-bottom: 10px;
    }
    .slider__item-paragraph {
      font-size: 25px;
      line-height: 35px;
    }
    .item__buttons {
      text-align: center;
      &-watch {
        background-color: #fff;
        color: $orange;
        &:hover {
          background-color: $orange;
          color: #fff;
        }
      }
      &-buy {
        background-color: $orange;
        &:hover {
          background-color: #fff;
          color: $orange;
        }
      }
    }
  }
}
// end slider

// start subsequence
.subsequence {
  &__inner {
    padding: 200px 0;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    max-width: 900px;
    margin: 0 auto;
  }
}
.title {
  font-size: 40px;
  @include f500;
  line-height: 55px;
}
.text {
  color: #888;
  line-height: 30px;
}
// end subsequence

// start bootstrap
.bootstrap {
  background-color: #f8f8f8;
  display: flex;
  background-position: center;
  background-size: cover;
  .container {
    display: flex;
    align-items: center;
  }
  &__content {
    flex: 0 0 100%;
    padding: 75px 0;
    display: flex;
  }
  &__info {
    width: 50%;
    padding: 0 170px 0 15px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__image {
    position: relative;
    flex: 0 0 50%;
    transform: translateX(-100%);
    padding: 0 0 30% 0;
  }
  &__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: none;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
// end bootstrap

// start design
.design {
  &__inner {
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    width: 570px;
    height: 430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__info {
    max-width: 600px;
    &-title {
      margin-bottom: 25px;
    }
  }
}
// end design

// start advantages
.advantages {
  background-color: #f8f8f8;
  &__inner {
    padding: 200px 0;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    max-width: 420px;
    width: 100%;
    padding-left: 40px;
    &-icon {
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 25px;
      color: $orange;
    }
    &-title {
      font-size: 30px;
    }
  }
}
// end advantages

// start control
.control {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 0;
  }
  &__info {
    max-width: 600px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  &__images img {
    width: 300px;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
// end control

// start parallax
.parallax {
  &__image {
    height: 600px;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  &__content {
    text-align: center;
    padding-top: 150px;
  }
  &__title {
    font-size: 65px;
    color: #fff;
    padding-bottom: 28px;
  }
  &__text {
    font-size: 17px;
    color: #fff;
    margin-bottom: 35px;
  }
  &__btn {
    background-color: $orange;
    color: #fff;
    @include f500;
    font-size: 12px;
    padding: 20px 40px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    transition: all 0.3s ease;
    &:hover {
      background-color: #000;
    }
  }
}
// end parallax

// start team
.team {
  &__inner {
    padding: 200px 0;
    text-align: center;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    max-width: 870px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 420px;
    width: 100%;
    overflow: hidden;
    &-image {
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      transition: all 0.5s;
      &::before {
        content: "";
        position: absolute;
        transition: all 0.5s;
        background-color: rgba($color: #fff, $alpha: 0.7);
        width: 0;
        height: 0;
      }
      img {
        width: 100%;
      }
    }
    &-social {
      position: absolute;
      top: -220px;
      left: -130px;
      transform: rotate(-40deg);
      transition: all 0.5s;
      li + li {
        margin-top: 0px;
      }
      li {
        font-size: 22px;
        &:hover {
          transform: scale(1.5);
          a {
            color: $orange-dark;
          }
        }
      }
      a {
        color: orange;
        transition: all 0.3s;
      }
    }
    &:hover .team__item-image::before {
      width: 100%;
      height: 100%;
    }
    &:hover .team__item-social {
      top: 50px;
      left: 204px;
      transform: rotate(360deg);
      transition: all 0.5s;
      li + li {
        margin-top: 15px;
      }
    }
    &-name {
      color: #000;
      font-size: 22px;
      @include f500;
      margin-bottom: 10px;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
    &-position {
      color: #888;
      cursor: default;
    }
  }
}
// end team

// start gallery
.gallery {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    overflow: hidden;
    a {
      display: block;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &:hover {
      .gallery__overley {
        background-color: rgba($color: $orange, $alpha: 0.8);
        &::before {
          width: 3px;
          height: 40px;
        }
        &::after {
          width: 40px;
          height: 3px;
        }
      }
    }
  }
  &__overley {
    position: absolute;
    top: -5px;
    left: 0;
    background-color: rgba($color: $orange, $alpha: 0);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    &::before {
      content: "";
      position: inherit;
      background-color: #fff;
      width: 0px;
      height: 0px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
    }
    &::after {
      content: "";
      position: inherit;
      background-color: #fff;
      width: 0px;
      height: 0px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s;
    }
  }
}
// end gallery

// start news
.news {
  &__inner {
    padding: 200px 0;
  }
  &__title {
    margin-bottom: 35px;
    text-align: center;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 430px;
    &-image {
      margin-bottom: 20px;
    }
    &-image img {
      width: 100%;
      height: 300px;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
    }
    &-title {
      font-size: 24px;
      @include f500;
      color: #000;
      margin-bottom: 10px;
      transition: all 0.3s ease;
      &:hover {
        color: $orange;
      }
    }
    &-details {
      display: flex;
      align-items: center;
      font-size: 15px;
      margin-bottom: 20px;
    }
    &-date {
      color: $orange;
      margin-right: 15px;
      transition: all 0.3s ease;
      &:hover {
        color: $orange-dark;
      }
    }
    &-name {
      color: #888;
    }
    &-about {
      color: #888;
      font-size: 21px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &-more {
      font-size: 13px;
      color: #000;
      @include f500;
      transition: all 0.3s ease;
      &:hover {
        color: $orange;
      }
    }
  }
}
// end news

// start review
.reviews {
  background-color: #f8f8f8;
  &__inner {
    padding: 200px 0;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__slider {
    text-align: center;
    position: relative;
  }
  &__item {
    &-icon {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
      img {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &-text {
      color: #888;
      font-size: 21px;
      max-width: 865px;
      margin: 0 auto;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &-name {
      position: relative;
      font-size: 21px;
      padding-left: 20px;
      display: inline-block;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        top: 13px;
        left: 0;
        background-color: #000;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 110px;
    color: #c7c7c7;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    font-size: 20px;
    transition: all 0.3s;
    &:hover {
      color: $orange;
    }
  }
  .slick-prev.slick-arrow {
    left: 0;
  }
  .slick-next.slick-arrow {
    right: 0;
  }
}
// end review

// start subscription
.subscription {
  &__inner {
    padding: 200px 0;
  }
  &__title {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 40px;
    text-align: center;
  }
  &__form {
    display: flex;
    justify-content: center;
    input {
      max-width: 370px;
      width: 100%;
      min-height: 60px;
      margin-right: 10px;
      padding: 17px 19px 17px 60px;
      outline: none;
      border: none;
      background-color: #f8f8f8;
      font-style: italic;
      border-radius: 3px;
      transition: 0.3s ease-in-out;
      font-size: 17px;
      &::placeholder {
        color: #888;
      }
      &:focus {
        box-shadow: 0 0 0 0.05rem $orange;
      }
    }
    button {
      padding: 0 20px;
      text-transform: uppercase;
      border: none;
      outline: none;
      background-color: $orange;
      border-radius: 3px;
      @include f500;
      font-size: 15px;
      cursor: pointer;
      color: #fff;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: #000;
      }
    }
  }
}
// end subscription

// start address
.address {
  background-color: rgba($color: $orange, $alpha: 1);
  padding: 200px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  &__info {
    width: 630px;
    height: 470px;
    padding: 40px 50px;
    background-color: rgba($color: #fff, $alpha: 1);
  }
  &__title {
    color: #000;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      width: 2px;
      height: 50px;
      background-color: #000;
      position: absolute;
      bottom: -36px;
      left: 25px;
      transform: rotate(-45deg);
    }
  }
  &__text {
    color: $orange;
    font-size: 19px;
    margin-left: 40px;

    cursor: default;
    span {
      @include f500;
    }
    p {
      position: relative;
      transition: all 0.3s;
      &::after {
        content: "";
        width: 50px;
        height: 2px;
        background-color: $orange;
        position: absolute;
        left: 0;
        bottom: -3px;
        transition: all 0.3s;
      }
      &:hover {
        color: $orange-dark;
        &::after {
          background-color: $orange-dark;
        }
      }
    }
  }
  &__map {
    padding: 30px 30px 25px;
  }
}
// end address

// start footer
.footer {
  font-size: 16px;
  .footer__main {
    background-color: #f8f8f8;
    .footer__inner {
      display: flex;
      justify-content: space-between;
      padding: 120px 0;
    }
  }
  &__col {
    width: 300px;
    &-title {
      margin-bottom: 22px;
      font-size: 20px;
    }
  }
  .col__about {
    &-paragraph {
      color: #888;
      line-height: 24px;
    }
  }
  .col__navigation {
    &-links {
      li + li {
        margin-top: 20px;
      }
      a {
        color: $orange;
        transition: all 0.3s;
        &:hover {
          color: $orange-dark;
        }
      }
    }
  }
  .col__comments {
    .col__comments-item + .col__comments-item {
      margin-top: 25px;
    }
    &-name {
      color: #888;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 10px;
    }
    &-comment {
      color: #000;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
  }
  .col__contact {
    color: #888;
    span {
      @include f500;
      margin-right: 5px;
    }
    .col__contact-row + .col__contact-row {
      margin-top: 25px;
    }
    &-phone {
      color: #888;
      transition: all 0.3s;
      &:hover {
        color: $orange;
      }
    }
    &-mail {
      color: $orange;
      transition: all 0.3s;
      &:hover {
        color: $orange-dark;
      }
    }
  }
}
.footer__copy {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &-text {
    color: #888;
  }
  &-name {
    color: $orange;
    transition: ALL 0.3s;
    &:hover {
      color: $orange-dark;
    }
  }
  &-social {
    display: flex;
    li + li {
      margin-left: 20px;
    }
    a {
      color: $orange;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}
// end footer

// media
@import "_media.scss";
